<p>
  <input type="text" value="{{myname}}"/>
  
  <input [(ngModel)]="firstName" placeholder='First Name'/>
  <input [(ngModel)]="lastName" placeholder='Last Name'/>
  {{firstName}}{{lastName}}
  {{myname}}
  <button (click)='updates()'>CLick me</button>
</p>
